### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [15]:
def movie_rate(rate):
    if rate <= 2.0:
        return 'Низкий рейтинг'
    elif rate >= 4.5:
        return 'Высокий рейтинг'
    elif rate is not None:
        return 'Средний рейтинг'
    else:
        return 'Рейтинг не задан'

In [22]:
ratings = pd.read_csv('ml-latest-small/ratings.csv', names = ['UserID', 'MovieID', 'Rating', 'Timestamp'], skiprows = 1)
ratings['class'] = ratings['Rating'].apply(movie_rate)

ratings[['MovieID', 'Rating', 'class']].head()

   MovieID  Rating            class
0       31     2.5  Средний рейтинг
1     1029     3.0  Средний рейтинг
2     1061     3.0  Средний рейтинг
3     1129     2.0   Низкий рейтинг
4     1172     4.0  Средний рейтинг

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Результат классификации запишите в отдельный столбец region.

In [25]:
# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [71]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')

In [72]:
def geo_class(line):
    for word in line.lower().split(' '):
        for keys, items in geo_data.items():
            if word in items:
                return keys
    return 'undefined'

In [73]:
# проверка:
#geo_class('эльдорадо ПсКов')

In [74]:
keywords['region'] = keywords['keyword'].apply(geo_class)

keywords[ keywords.region == 'Северо-Запад' ].head()

                       keyword   shows        region
370   авито ру санкт петербург  425134  Северо-Запад
1236      банк санкт петербург  174375  Северо-Запад
1346           санкт петербург  144232  Северо-Запад
2153               авито псков   98931  Северо-Запад
2398            авито мурманск   89787  Северо-Запад

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

In [88]:
rating = pd.read_csv('ml-latest-small/ratings.csv')
movie = pd.read_csv('ml-latest-small/movies.csv')

1. В переменную years запишите список из всех годов с 1950 по 2010.

In [99]:
years = []

for i in range(1950, 2011):
    years.append(str(i))

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
 - для каждой строки пройдите по всем годам списка years
 - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
 - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

In [100]:
def production_year(name):
    for year in years:
        if year in name:
            return year
    return '1900'

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

In [104]:
movie['year'] = movie['title'].apply(production_year)
movie.loc[2900:2910]

,movieId,title,genres,year
2900,3633,On Her Majesty's Secret Service (1969),Action|Adventure|Romance|Thriller,1969
2901,3634,Seven Days in May (1964),Thriller,1964
2902,3635,"Spy Who Loved Me, The (1977)",Action|Adventure|Thriller,1977
2903,3637,Vagabond (Sans toit ni loi) (1985),Drama,1985
2904,3638,Moonraker (1979),Action|Adventure|Sci-Fi|Thriller,1979
2905,3639,"Man with the Golden Gun, The (1974)",Action|Adventure|Thriller,1974
2906,3640,"King in New York, A (1957)",Comedy|Drama,1957
2907,3643,"Fighting Seabees, The (1944)",Action|Drama|War,1900
2908,3646,Big Momma's House (2000),Comedy,2000
2909,3649,American Gigolo (1980),Drama,1980
2910,3653,"Endless Summer, The (1966)",Documentary,1966

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [106]:
alll = rating.merge(movie, on = 'movieId', how = 'left')
alll.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [109]:
alll.groupby('year').agg({'rating': 'mean'}).sort_values('rating', ascending = False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]